*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
    --bg-white: #061738;

    --primary-text: #fff;
    --secondary-color: #60cd12;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --anchor-color: #dee2e6;
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body,
html {
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}

h2 {
    font-size: 4.7rem;
    line-height: 1.2;
    font-weight: 600;
    color: var(--primary-text);
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

h3 {
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
    color: var(--text-white);
}

h4 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    color: var(--primary-text);
}

h5 {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 600;
    color: var(--primary-text);
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--secondary-font);
    margin-top: 1rem;
    color: var(--primary-text);
}

embed,
iframe,
img,
object {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: none;
}

li a {
    color: var(--text-white);
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

.main-btn {
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right, #0f7404, #5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}

.main-btn:hover {
    background: white;
    color: var(--);
    border: 0.2rem solid var(--secondary-color);
}

section{
    padding: 5rem 0;
}

.section-title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.section-subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
}

.home {
    background: url(Black.jpg);
    filter: blur(0.5rem);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.about .banner_section,
.product .banner_section,
.features .banner_section,
.contact .banner_section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
    
}

.header {
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}
.header .navbar {
    /* background: url(header-bg.png); */
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 5rem;
    height: 8rem;
    max-width: 1320px;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.header .navbar-brand {
    width: 9.5rem;
    margin-top: -0.1rem;
}

.header .navbar-nav .nav-link{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);   
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: var(--secondary-color);
}
.header .navbar-toggler{
    color: #fff;
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}
.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.header .header_right span{
    color: var(--secondary-color);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.header .header_right .phone_no{
    color: #fff;
    font-size: 1.6rem;
}
.header-scrolled{
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;
}
.banner-section{
    background: url(Black.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.slider_section {
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
  
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
/* h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 40px;
    font-size: 5rem;
    font-weight: 400;
} */
  
.sliders {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px 0;
}
.sliders div {
    height: 500px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-size: cover;
    cursor: pointer;
    transition: width 0.5s ease;
}
  
.sliders div:hover {
    width: 400px;
}
  
.div1 {
    background-image: url(/div_images/div1.jpg);
    background-position: center;
}
  
.div2 {
    background-image: url(/div_images/div2.jpg);
    background-position: center;
}
  
.div3 {
    background-image: url(/div_images/div3.jpg);
    background-position: center;
}
  
.div4 {
    background-image: url(/div_images/div4.jpg);
    background-position: center;
}
  
.div5 {
    background-image: url(/div_images/div5.jpg);
    background-position: center;
}
.div6 {
    background-image: url(Black.jpg);
    background-position: center;
}

.footer_wrapper {
    background: url(footer.png) no-repeat top center;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 0rem;
}

.footer_wrapper ul li {
    margin-bottom: 0.5rem;
    list-style: none;
}

.footer_wrapper .company_details {
    font-size: 1.4rem;
}

.footer_wrapper .contact-info li a {
    font-size: 1.6rem;
    color: var(--text-grey);
    text-decoration: none;
}

.footer_wrapper .link-widget li a,
.footer_wrapper p {
    color: var(--text-grey);
    font-size: 1.6rem;
    padding-left: 1.5rem;
    position: relative;
    transition: all 0.3s ease-out;
}
.footer_wrapper .link-widget li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer_wrapper .link-widget li a:hover {
    color: var(--secondary-color);
    padding-left: 2.5rem;
}
.footer_wrapper .social-network a {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.2rem;
    margin: 0.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    color: var(--text-grey);
    border: 0.125rem solid var(--text-grey);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-network a:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--text-white);
    box-shadow: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.1);
    transform: translateY(-0.1875rem);
}
.footer_wrapper .form-control {
    font-size: 2rem;
    color: var(--text-white);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

.footer_wrapper .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}

.footer_wrapper .copyright-section {
    background-color: var(--secondary-color);
    text-align: center;
    margin-top: 5rem;
}

.footer_wrapper .copyright-section p {
    margin: 0;
    line-height: 1.5;
    padding: 3rem 0;
    font-size: 1.4rem;
    color: var(--text-white);
}

.footer_wrapper .copyright-section a {
    color: var(--primary-text);
    font-weight: 600;
    text-decoration: none;
}

.heading {
    text-align: center;
    margin-bottom: 5rem;
    padding-left: 46rem;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

